body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.pagina {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

/* Tema claro */
.claro {
  background-color: #f5f5f5;
  color: #222;
}

.claro button {
  background: #ddd;
  color: #222;
}

/* Tema oscuro */
.oscuro {
  background-color: #1c1c1c;
  color: #f5f5f5;
}

.oscuro button {
  background: #444;
  color: #fff;
}
